@font-face {
  font-family: 'Alloy';
  src: local('Alloy'), url(./assets/fonts/alloy.otf) format('opentype');
}

@font-face {
  font-family: 'Kurri';
  src: url(./assets/fonts/kurri-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kurri';
  src: url(./assets/fonts/kurri-bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Simplicity';
  src: local('Simplicity'), url(./assets/fonts/simplicity.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-size: 0.75em;
}

@media screen and (min-height: 850px) {
  :root {
    font-size: 1em;
  }
}

body {
  color: #1a202c;
  background-color: #ebf4ff;
  margin: 0;
  font-family: 'Kurri', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Kurri';
}
