.container {
  margin: 0 auto;
  max-width: 1350px;
}

.title {
  margin-top: 24px;
  color: #3182ce;
  text-align: center;
  font-size: 76px;
  font-family: 'Alloy';
}

.sectionContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.alignStart {
  align-items: flex-start;
}

.sectionTitle {
  letter-spacing: 1px;
  font-family: 'Simplicity';
  font-size: 48px;
  margin: 12px 0;
}

.green {
  color: #2f855a;
}

.gray {
  color: #4a5568;
}

.indigo {
  color: #4c51bf;
}

.playersContainer {
  display: flex;
  flex-direction: column;
  background: #e6fffa;
  padding: 12px 24px 24px;
  border-radius: 12px;
  margin: 12px;
  width: 600px;
}

.playersAvatarContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  grid-auto-rows: 75px;
}

.avatarPlayer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  word-break: break-word;
}

.playerName {
  font-size: 20px;
  margin-left: 12px;
}

.buttonContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.error {
  position: absolute;
  bottom: -24px;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  background: #c3dafe;
  padding: 12px 24px 24px;
  border-radius: 12px;
  width: 600px;
  margin: 12px;
}

.label {
  font-size: 20px;
  margin-right: 12px;
}

.usernameInput {
  font-size: 16px;
  padding: 12px;
  border-radius: 6px;
  appearance: none;
  background-color: #ebf4ff;
  border-width: 2px;
  border-color: #ebf4ff;
  border-style: solid;
  line-height: 1.25;
  box-shadow: none;
  outline: none;
}

.usernameInput:focus {
  border-color: #7f9cf5;
}
