.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activePlayer {
  border-bottom: 3px solid #4fd1c5;
}
