.baseCard {
  border: 1px solid black;
  margin-right: -82px;
  border-radius: 8px;
  width: 150px;
  height: 208px;
  transition: all 0.1s ease-in;
}

.otherPlayerCard {
  border: 1px solid black;
  margin-right: -6px;
  border-radius: 8px;
  width: 75px;
  height: 105px;
}

.selected {
  border: 1px solid green;
  margin-bottom: 36px;
}

.pointer {
  cursor: pointer;
}
