.baseCard {
  background-color: white;
  border: 1px solid #1a202c;
  border-radius: 6px;
  margin-right: -64px;
  width: 126px;
  height: 175px;
  transition: all 0.1s ease-in;
}

.handCard {
  width: 126px;
  height: 175px;
  border: 1px solid #1a202c;
  border-radius: 6px;
  margin-right: -64px;
  align-self: flex-end;
  position: relative;
  transition: all 0.1s ease-in;
}

.falseCard {
  position: absolute;
  z-index: -1;
  width: 126px;
  height: 175px;
}

.stackCard {
  width: 126px;
  height: 175px;
  margin-right: 0px;
  position: relative;
  transition: all 0.1s ease-in;
}

.otherPlayerCard {
  margin-right: -36px;
  width: 53px;
  height: 75px;
}

@media screen and (max-height: 900px) {
  .baseCard {
    width: 90px;
    height: 125px;
  }

  .handCard {
    width: 90px;
    height: 125px;
  }

  .falseCard {
    width: 90px;
    height: 125px;
  }

  .stackCard {
    width: 90px;
    height: 125px;
  }

  .otherPlayerCard {
    width: 43px;
    height: 60px;
    margin-right: -24px;
  }
}

.last {
  margin-right: 0;
}

.new {
  animation: newCard 2s forwards;
}

@keyframes newCard {
  0% {
    opacity: 0;
    top: -64px;
  }

  50% {
    opacity: 75;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.selected {
  margin-bottom: 36px;
}

.pointer {
  cursor: pointer;
}
