.score {
  border-radius: 12px;
  color: #2c7a7b;
  padding: 6px;
  font-weight: bold;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.handScore {
  color: #4c51bf;
  width: 46px;
}

.noBorder {
  border: none;
}
