.mainContainer {
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 48px);
  max-width: 1200px;
}

.endRoundContainer {
  display: flex;
  justify-content: center;
}

.cardsArea {
  margin-top: 68px;
  display: flex;
  justify-content: center;
}

@media screen and (max-height: 850px) {
  .cardsArea {
    margin-top: 0;
  }
}
