.button {
  padding: 12px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: #81c784;
  color: #064709;
  opacity: 0.6;
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
  opacity: 1;
}
